body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #cccccc;
    background-color: #0D0D0D;
    font-family: 'Space Grotesk', sans-serif;
}

.navbar-logo img {
    height: 48px;
}

.introduction {
    padding: 0;
   
}

.p {
    text-align: left;
    color: #7a7a7a;
    
    font-size: 13px;
}

.selectors-container {
    
    width: 100%;
    
}

.select-container {
    
    display: flex;
    flex-direction: column;
}

.select-container-head{
    display: none;
}

label {
    color: white;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

select {
    font-family: 'Space Grotesk', sans-serif;
    padding: 8px;
    margin-bottom: 16px;
    font-size: 13px;
    border-radius: 8px;
    border: 2px solid rgba(221, 255, 0, 0.6);
    background-color: rgba(23, 23, 23, 0.6);
    color: #DDFF00;
    cursor: pointer;
}



#avatarPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;
    max-width: 500px;
    max-height: 500px;
    margin: 0;
    border-radius: 16px;
    overflow: hidden;
}


